<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sm.mapper.CartMapper">
    <resultMap id="ma" type="com.sm.pojo.Orders">
        <!--查询商品-->
        <id property="coid" column="coid"></id>
        <association property="commodity" select="com.sm.mapper.CommodityMapper.allCommodity" javaType="com.sm.pojo.Commodity" column="coid"></association>

        <!--查询商品图片-->
        <association property="picture" select="com.sm.mapper.ImgMapper.imgMapper" javaType="com.sm.pojo.Picture" column="coid"></association>

    </resultMap>
    <select id="CartAll" resultMap="ma">
        select * from orders where uid=#{param1} and state=1
    </select>
</mapper>