<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sm.mapper.ConsumMapper">
    <resultMap id="ms" type="com.sm.pojo.Orders">
        <id property="oid" column="oid"></id>
        <association property="consumption" javaType="com.sm.pojo.Consumption" select="com.sm.mapper.ConsumMapper.AllCon" column="oid"></association>
    </resultMap>
    <select id="AllOrd" resultMap="ms">
        select * from orders where uid=#{param1} and state=0
    </select>
</mapper>