<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sm.mapper.UserMapper">
    <select id="loginUser" resultType="com.sm.pojo.U_user">
        select * from u_user where uname = #{param1} and pwd = #{param2}
    </select>


    <!--订单-->
    <resultMap id="m" type="com.sm.pojo.Orders">
        <!--查询商品-->
        <id property="coid" column="coid"></id>
        <association property="commodity" select="com.sm.mapper.CommodityMapper.allCommodity" javaType="com.sm.pojo.Commodity" column="coid"></association>

        <!--查询地址-->
        <association property="address" select="com.sm.mapper.AddressMapper.selAddress" javaType="com.sm.pojo.Address" column="aid"></association>

        <!--查询商品图片-->
        <association property="picture" select="com.sm.mapper.ImgMapper.imgMapper" javaType="com.sm.pojo.Picture" column="coid"></association>

    </resultMap>
    
    <select id="allOrder" resultMap="m">
        select * from orders where uid = #{param1}
    </select>
</mapper>